    {% extends './base.html' %} 
    {% load static %}
    {% block title %} Swoyambhu In't College {%endblock %} 
    {% block content %} {% include './navbar.html' %} 
    <div id="carouselExample" class="carousel slide">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="{% static 'images/banner.jpg' %}" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="{% static 'images/banner.jpg' %}" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="{% static 'images/banner.jpg' %}" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <div class="container mt-5">
        <div class="row">
        <div class="card mx-auto" style="width: 18rem;">
            <img src="{% static 'images/ca.jpeg' %}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">CA</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="/lms/ca" class="btn btn-primary">More</a>
            </div>
          </div>
          <div class="card mx-auto" style="width: 18rem;">
            <img src="{% static 'images/bca.png' %}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">BCA</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="/lms/bca" class="btn btn-primary">More</a>
            </div>
          </div>
          <div class="card mx-auto" style="width: 18rem;">
            <img src="{% static 'images/logo.png' %}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Contact us</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="/contact-us" class="btn btn-primary">Contact us</a>
            </div>
          </div>
        </div>
      </div>





    
{% endblock %}
    <!-- Slideshow container -->


